extends style

block logo_link
    - if (secret)
        a(href="/w/#{name}/#{secret}/#{urlu}/")#title #{website} #{title}
    - else
        a(href="/p/#{name}/#{urlu}/")#title #{website} #{title}

append notification
    div.message#offline OFFLINE

append content
    - if (secret)
        form#form(action="/w/#{name}/#{secret}/#{urlu}",method="post",name="form")
            input#contentbox(name="content", autocomplete="off")
            br.hidden#textarea_br
            input.button.contentbutton(type="submit", value="write!", name="btn")
    - else
        form#form(action="/p/#{name}/#{urlu}",method="post",name="form")
            input#contentbox(name="content", autocomplete="off")
            br.hidden#textarea_br
            input.button.contentbutton(type="submit", value="write!", name="btn")

    ul#mesglist
        for mesg in mesglist
            - if (mesg.author == user) 
                li.list_info.mine
                    !{mesg.content}
                    .note= mesg.author
                        @#{mesg.create}
            - else
                li.list_info.other
                    !{mesg.content}
                    .note= mesg.author
                        @#{mesg.create}

    #lrnav_bar
        - if (page != 1)
            - if (secret)
                a(href='/w/#{name}/#{secret}/#{urlu}/page/#{page-1}').lrnav << new
            - else
                a(href='/p/#{name}/#{urlu}/page/#{page-1}').lrnav << new
        - if (page < totpage)
            - if (secret)
                a(href='/w/#{name}/#{secret}/#{urlu}/page/#{page+1}').lrnav old >>
            - else
                a(href='/p/#{name}/#{urlu}/page/#{page+1}').lrnav old >>

append scripts
    script(src='/socket.io/socket.io.js').
    script(src='/javascripts/mesg.js').
    if (page == 1)
        - if (secret)
            script.
                updater.setup("#{name}", "#{secret}", "#{user}", false);
        - else
            script.
                updater.setup("#{name}", "public", "#{user}", false);
    else
        - if (secret)
            script.
                updater.setup("#{name}", "#{secret}", "#{user}", true);
        - else
            script.
                updater.setup("#{name}", "public", "#{user}", true);
