extends style

block logo_link
    a(href="/w/#{name}/#{secret}/#{urlu}/")#title #{website} #{title}

append content
    form#form(action="/w/#{name}/#{secret}/#{urlu}",method="post",name="form")
        input#contentbox(name="content", autocomplete="off")
        br.hidden#textarea_br
        input.button.contentbutton(type="submit", value="write!", name="btn")

    ul#mesglist
        for mesg in mesglist
            - if (mesg.author == user) 
                li.list_info.mine
                    !{mesg.content}
                    .note= mesg.author
                        @#{mesg.create}
            - else
                li.list_info.other
                    !{mesg.content}
                    .note= mesg.author
                        @#{mesg.create}

    #lrnav_bar
        - if (page != 1)
            a(href='/w/#{name}/#{secret}/#{urlu}/page/#{page-1}').lrnav << new
        - if (page < totpage)
            a(href='/w/#{name}/#{secret}/#{urlu}/page/#{page+1}').lrnav old >>

append scripts
    if (page == 1)
        script(src='/socket.io/socket.io.js').
        script(src='/javascripts/mesg.js').
        script.
            updater.setup("#{name}", "#{secret}", "#{user}");
