extends style

append head
    script(src='/javascripts/getnotification.js').
    script(type='text/javascript').
        window.onload = function () {
            window.setInterval(genncb("/w/#{name}/#{secret}/notification?timestamp=#{timestamp}"), 5000);
        }

block logo_link
    a(href="/w/#{name}/#{secret}/#{user}/")#title #{website} #{title}

append content
    form#form(action="#",method="post")
        input#contentbox(name="content")
        input.button.contentbutton(type="submit", value="write!")

    !{mesgsingles}

    #lrnav_bar
        - if (page != 1)
            a(href='/w/#{name}/#{secret}/#{user}/page/#{page-1}').lrnav << new
        - if (page < totpage)
            a(href='/w/#{name}/#{secret}/#{user}/page/#{page+1}').lrnav old >>

