for mesg in mesglist
    - if (mesg.author == user) 
        li.list_info.mine
            !{mesg.content}
            .note= mesg.author
                 @#{mesg.create}
    - else
        li.list_info.other
            !{mesg.content}
            .note= mesg.author
                @#{mesg.create}
